th.row-number-header,
th.checkbox-col {
    width: 20px !important;
}

th.actions-header {
    width: 30px !important;
}

td.actions-cell i:hover {
    cursor: pointer;
}

nav.navbar.navbar-light {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
}

th.id-header {
    display: none !important;
}

.entity-id-container {
    display: none;
}

label[for='edit-lead-category'] {
    width: 94px;
}

.success-message,
.danger-message {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: none;
}

.badge-lead-car-of-interest {
    padding: 10px 5px 10px 10px;
}

.badge-lead-car-of-interest .badge-close-button {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 2px;
    border-radius: 3px;
}

.badge-lead-car-of-interest .badge-close-button:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.6);
}